*{
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #27cef866;
  transition: .5s;
}